@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #18191A;
}

#root{
    width: 100vw;
    height: 100vh;
}

#register, #login{
    border: 1px solid #fdc500;
}

#footer{
    color: #2f2f30;
    border-top: 1px solid #2f2f30;

}

.yellow-background{
    background-color: #ffd500;
}

.yellow-button-clicked{
    background-color: #b29500;
}

.color-yellow{
    color: #fdc500;
}

#loginButton:hover, #registerButton:hover{
    background-color: #ffd500;
}

.color-black{
    color: #18191A;
}

.button-color{
    background-color: #fdc500;
}